* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Rose", cursive;
}

.logo {
  width: 120px;
  position: absolute;
  left:60px;
}

body {
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
  url(./assets/pexels-maxyne-barcel-10402282\ 1.png); 
  width: 100%; 
  background-size: 100% 100%;
  box-shadow: 0 10px 20px 6px#000;
  padding-top: 50px;
}

.navbar,.hero {
  text-align: center;
  color: #f4be2c;
}

h1 {
  margin-top: 50px;
  margin-left: 150px;
  margin-right: 150px;
  font-weight: bold;
  font-weight: 800;
  font-size: 100px;
  color: #f4be2c;
  text-align: center;
  width: 70%;
}

ul,li {
  text-decoration: none;
  align-items: center;
  display: inline;
  text-align: center;
  margin: 5px 40px;
}

.button-small {
  position: absolute;
  right: 70px;
  top: 40px;
  background-color: #f14045;
  font-size: 20px;
  border-style: none;
  color: white;
  width: 90px;
  height: 40px;
}

.button-large {
  text-align: center;
  background-color: #f14045;
  font-size: 25px;
  font-weight: 400;
  border-style: none;
  color: white;
  width: 290px;
  height: 60px;
  margin-top: 40px;
}

.bottom  img{
  position: relative;
  text-align: center;
  left:40%;
  bottom:50px;
  width: 140px;
}
